html {
  box-sizing: border-box;
  
  font-family: "Playfair";
  font-size: 14px;
  line-height: 100%;
  
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;

  border: 0;

  padding: 0;

  clip: rect(0 0 0 0);

  overflow: hidden;
}

/* button */

.button {
  display: block;
  
  background: none;
  border: none;
  
  cursor: pointer;
  
  outline: none;
  
  transition: all 0.5s;
}

.button:hover,
.button:focus,
.button:active {
  text-decoration: none;
  
  outline: none;
  
  transition: all 0.5s;
}

.button--project {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  
  color: orange;
  
  text-transform: uppercase;
  
  background-color: cyan;
  background-image: linear-gradient(to bottom, cyan 0%, white 100%);
  
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.button--project:hover,
.button--project:focus,
.button--project:active {
  background-image: linear-gradient(to bottom, white 0%, cyan 100%);
}

/* container*/

.container {
  max-width: 1200px;
  
  padding: 0;
  margin: 0;
  
  padding-left: 15px;
  padding-right: 15px;
  
  margin: 0 auto;
}

@media (max-width: 1199px;) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 991px;) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 767px;) {
  .container {
    max-width: 767px;
  }
}

/* page-header */

.page-header {
  position: fixed;
  
  top: 0;
  left: 0;
  
  z-index: 998;
  
  width: 100%;
  
  padding: 0;
  margin: 0;
  
  color: black;
  
  background-color: cyan;
  
  background-image: linear-gradient(to bottom, cyan 0%, white 100%);
}

/* navigation */

.navigation {
  position: relative;
  
  display: flex;
  
  flex-wrap: wrap;
  
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation__list {
  display: flex;
  
  flex-wrap: wrap;
  
  justify-content: space-between;
  align-items: center;
  align-content: center;
  
  flex-grow: 1;
  flex-shrink: 0;
  
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.navigation__list--menu {
  max-width: 70%;
}

.navigation__list--language {
  max-width: 30%;
  
  justify-content: flex-end;
}

.navigation__item {
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.navigation__item--language {
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  padding-top: 10px;
  padding-bottom: 10px;
  
  margin-left: 10px;
  margin-right: 10px;
}

.navigation__item--language a {
  width: 30px;
  height: 30px;
}

.navigation__item--language:nth-of-type(1) a {
  background-image: url("../img/ru.png");
}

.navigation__item--language:nth-of-type(2) a {
  background-image: url("../img/en.png");
}

.navigation__item--language:nth-of-type(3) a {
  background-image: url("../img/pl.png");
}

.navigation__link {
  padding: 0;
  margin: 0;
  
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  color: orange;
  
  text-align: center;
  vertical-align: middle;
  
  text-transform: uppercase;
  
  font-weight: 700;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  color: orange;
  
  background-color: rgba(0, 0, 0, 0.015);
  
  box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.015);
}

.navigation__link.active{
  text-decoration: underline;
  text-decoration-style: dotted;
}

.navigation__link--language {
  width: 50px;
  height: 50px;
  
  padding: 0;
  margin: 0;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.navigation__menu {
  display: none;
  
  position: relative;
  
  width: 70px;
  height: 50px;
}

.navigation--closed .navigation__menu::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.navigation--closed .navigation__menu:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.navigation--opened .navigation__menu {
  top: 0;
  right: auto;
  left: 0;
}
.navigation--opened .navigation__menu::before,
.navigation--opened .navigation__menu::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.navigation--opened .navigation__menu::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.navigation--opened .navigation__menu::after {
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .navigation {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .navigation__list--menu {
    position: absolute;
    
    top: 50px;
    left: 0;
    
    z-index: 1000;
    
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: flex-start;
    
    transition: all 0.5s;
    
    width: 100vw;   
    max-width: none;
    
    background-image: linear-gradient(to bottom, white 0%, cyan 100%);
  }
  
  .navigation--closed .navigation__list--menu {
    transform: translateX(-100vw);
  }
  
  .navigation--opened .navigation__list--menu {
    transform: translateX(0px);
  }
  
  .navigation__item {
    justify-content: flex-start;
    
    width: 100%;
    
    padding-left: 35px;
    padding-right: 35px;
  }
  
  .navigation__menu {
    display: block;
  }
  
  .navigation__list--language {
    max-width: none;
    
    justify-content: flex-end;
  }
}
/* page-main*/

.page-main {
  padding-top: 90px;
}

.page-main__title {
  width: 100%;
  
  padding: 0;
  margin: 0;
  
  margin-bottom: 20px;
  
  font-size: 40px;
  line-height: 100%;
  font-weight: 700;
  
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.page-main__text {
  width: 70%;
  
  padding: 0;
  margin: 0;
  
  margin: 0 auto;
  
  margin-bottom: 50px;
  
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;

  text-align: center;
  vertical-align: middle;
}

/* title */

.title {
  width: 100%;
  
  padding: 0;
  margin: 0;
  
  padding-left: 15px;
  padding-right: 15px;
  
  margin-bottom: 30px;
  
  font-size: 30px;
  line-height: 100%;
  font-weight: 700;
  
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}


/* about-me */

.about-me {
  width: 100%;
  
  padding: 0;
  margin: 0;
  
  padding-bottom: 50px;
  
  background-image: linear-gradient(to bottom, white 0%, rgba(212, 212, 212, 0.5) 100%);
}

.about-me__wrapper {
  display: flex;
  
  flex-wrap: wrap;
  
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.about-me__photo {
  position: relative;
  
  display: flex;
  
  flex-direction: column;
  
  justify-content: flex-start;
  align-items: center;
  
  width: 35%;
  
  padding: 0;
  margin: 0;
}

.about-me__picture {
  position: absolute;
  
  top: 0;
  left: calc(50% - 158px);
  
  width: 316px;
  
  transition: all 0.5s;
}

.about-me__picture:first-of-type {
  opacity: 1;
  
  z-index: 1;
}

.about-me__picture:last-of-type {
  opacity: 0;
  
  z-index: 2;
}

.about-me__photo:hover .about-me__picture:last-of-type,
.about-me__photo:active .about-me__picture:last-of-type,
.about-me__photo:focus .about-me__picture:last-of-type {
  opacity: 1;
  
  transition: all 0.5s;
}

.about-me__text {
  width: 55%;
  
  padding: 0;
  margin: 0;
}

.about-me__text-item {
  position: relative;
  
  width: 100%;
  
  padding: 0;
  margin: 0;
  
  padding-left: 30px;
  margin-bottom: 15px;
  
  font-size: 18px;
  line-height: 20px;
  
  text-align: left;
  vertical-align: middle;
}

.about-me__text-item::before,
.about-me__text-item::after {
  content: "";
  
  position: absolute; 
}

.about-me__text-item::before {
  top: 0;
  left: 0;
  
  width: 20px;
  height: 20px;
  
  border-radius: 50%;
  
  border: 1px dashed cyan;
}

.about-me__text-item::after {
  width: 10px;
  height: 17px;
  
  top: -1.5px;
  left: 6.5px;
  
  border-bottom: 3px solid cyan;
  border-right: 3px solid cyan;
  
  transform: rotate(45deg);
}

.about-me__advantages-title {
  width: 100%;
  
  padding: 0;
  margin: 0;
  
  margin-top: 30px;
  margin-bottom: 20px;
  
  font-size: 25px;
  line-height: 100%;
  font-weight: 700;
  
  text-align: left;
  vertical-align: middle;
}

.about-me__advantages-list {
  list-style: circle;
}

.about-me__advantages-item {
  margin-bottom: 10px;
  
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .about-me__photo,
  .about-me__text {
    width: 100%;
  }
  
  .about-me__photo {
    min-height: 316px;
    
    margin-bottom: 20px;
  }
}

/* skills */

.skills {
  width: 100%;
  
  padding: 0;
  margin: 0;
  
  background-image: linear-gradient(to bottom, rgba(212, 212, 212, 0.5) 0%, white 100%);
}

.skills__list {
  display: flex;
  
  flex-wrap: wrap;
  
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  
  list-style: none;
}

.skills__item {
  display: flex;
  
  flex-direction: column;
  
  justify-content: flex-start;
  align-items: center;
  
  width: 30%;
  
  padding: 0;
  margin: 0;
  
  padding-top: 20px;
  padding-bottom: 20px;
  
  margin-bottom: 50px;
  
  border: 1px dashed transparent;
}

.skills__item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  
  border: 1px dashed cyan;
  
  box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.1);
}

.skills__picture {
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  margin-bottom: 15px;
}

.skills__picture img {
  width: auto;
  height: 100px;
}

.skills__text {
  display: flex;
  
  flex-direction: column;
  
  justify-content: flex-start;
  align-items: center;
  
  width: 90%;
  
  padding: 0;
  margin: 0;
  
  font-size: 18px;
  line-height: 135%;
  
  font-weight: 400;
  
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 991px) {
  .skills__item {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .skills__item {
    width: 100%;
  }
}

/* static */

.static,
.adaptive {
  width: 100%;
  
  padding: 0;
  margin: 0;
  
  padding-bottom: 50px;
  
  background-image: linear-gradient(to bottom, white 0%, rgba(212, 212, 212, 0.5) 100%);
}

.static__list,
.adaptive__list {
  display: flex;
  
  flex-wrap: wrap;
  
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  
  margin-bottom: 30px;
  
  list-style: none;
}

.static__item,
.adaptive__item { 
  padding: 0;
  margin: 0; 
}

.static__list--text .static__item,
.adaptive__list--text .adaptive__item {
  position: relative;
  
  width: 45%;
  
  padding-left: 30px;
  margin-bottom: 20px;
  
  font-size: 18px;
  line-height: 20px;
  
  text-align: left;
  vertical-align: middle;
}

.static__list--text .static__item::before,
.static__list--text .static__item::after,
.adaptive__list--text .adaptive__item::before,
.adaptive__list--text .adaptive__item::after {
content: "";

position: absolute; 
}

.static__list--text .static__item::before,
.adaptive__list--text .adaptive__item::before {
top: 0;
left: 0;

width: 20px;
height: 20px;

border-radius: 50%;

border: 1px dashed cyan;
}

.static__list--text .static__item::after,
.adaptive__list--text .adaptive__item::after {
width: 10px;
height: 17px;

top: -1.5px;
left: 6.5px;

border-bottom: 3px solid cyan;
border-right: 3px solid cyan;

transform: rotate(45deg);
}

.static__list.static__list--projects,
.adaptive__list.adaptive__list--projects {
  flex-wrap: wrap;
  
  justify-content: center;
  align-content: flex-start;
}

.static__list.static__list--projects .static__item,
.adaptive__list.adaptive__list--projects .adaptive__item {
  width: 35%;
  
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
}

.static__button,
.adaptive__button {
  width: 100%;
}

@media (max-width: 767px) {
  .static__list,
  .adaptive__list {
    justify-content: center;
  }
  
  .static__list--text .static__item,
  .adaptive__list--text .adaptive__item {
    width: 100%;
  }
  
  .static__list.static__list--projects .static__item,
  .adaptive__list.adaptive__list--projects .adaptive__item {
    width: 100%;
  }
}

/* adaptive */

.adaptive {  
  background-image: linear-gradient(to bottom, rgba(212, 212, 212, 0.5) 0%, white 100%);
}

/* php */

.php {
  width: 100%;
  
  padding: 0;
  margin: 0;
  
  padding-bottom: 50px;
  
  background-image: linear-gradient(to bottom, white 0%, rgba(212, 212, 212, 0.5) 100%);
}

.php__list {
  display: flex;
  
  flex-direction: column;
  
  justify-content: flex-start;
  align-items: center;
  
  list-style: none;
}

.php__item {
  position: relative;
  
  width: 70%;
  
  padding-left: 30px;
  margin-bottom: 20px;
  
  font-size: 18px;
  line-height: 20px;
  
  text-align: left;
  vertical-align: middle;
}

.php__item::before,
.php__item::after {
  content: "";

  position: absolute; 
}

.php__item::before {
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  border: 1px dashed cyan;
}

.php__item::after {
  width: 10px;
  height: 17px;

  top: -1.5px;
  left: 6.5px;

  border-bottom: 3px solid cyan;
  border-right: 3px solid cyan;

  transform: rotate(45deg);
}

@media (max-width: 767px) {
  .php__item {
    width: 100%;
  }
}

/* contacts */

.contacts {
  width: 100%;
  
  padding: 0;
  margin: 0;
  
  padding-bottom: 50px;
  
  background-image: linear-gradient(to bottom, rgba(212, 212, 212, 0.5) 0%, white 100%);
}

.contacts__wrapper {
  display: flex;
  
  flex-direction: column;
  
  justify-content: flex-start;
  align-items: center;
}

.contacts__text {
  width: 70%;
  
  padding: 0;
  margin: 0;
  
  margin-bottom: 15px;
  
  font-size: 18px;
  line-height: 20px;
  
  text-align: center;
  vertical-align: middle;
}

.contacts__list {
  display: flex;
  
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  
  padding: 0;
  margin: 0;
  
  margin-top: 30px;
  
  list-style: none;
}

.contacts__item {
  padding: 0;
  margin: 0;
  
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* footer */


@media (max-width: 400px) {
  .page-footer__title {
    font-size: 20px;
    line-height: 140%;
  }
}

/* popup */

.popup {
  display: none;
  
  position: fixed;
  
  top: 50%;
  left: 50%;
  
  z-index: 1000;
  
  transform: translate(-50%, -50%);
  
  width: 99vw;
  height: 95vh;
  
  padding: 0;
  margin: 0;
  
  background-color: #ffffff;
  
  border: 2px solid #000000;
  
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
}

.popup-overlay {
  display: none;
  
  position: fixed;
  
  top: 0;
  left: 0;
  
  z-index: 999;
  
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.1);
}

.popup__close {
  position: absolute;
  
  top: 5px;
  right: 5px;
  
  width: 20px;
  height: 20px;
  
  background-color: red;
}

.popup__close::after,
.popup__close::before {
  content: "";
  
  position: absolute;
  
  top: 0;
  left: 9px;
  
  width: 2px;
  height: 20px;
  
  background-color: white;
  
  transform-origin: center;
}

.popup__close::after {
  transform: rotate(45deg);  
}

.popup__close::before {
  transform: rotate(-45deg);  
}

.popup__list {
  width: 100%;
  height: 100%;
  
  padding: 0;
  margin: 0;
}

.static__iframe,
.adaptive__iframe {
  display: none;
  
  width: 100%;
  height: 100%;
}

.static__iframe.active,
.adaptive__iframe.active {
  display: block;
}

@media (max-width: 767px) {
  .popup {
    height: 85vh;
  }
}