@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src:
      url(../fonts/PT-Sans.woff2) format("woff2"),
      url(../fonts/PT-Sans.woff) format("woff"),
      url(../fonts/PT-Sans.ttf) format("ttf");
}

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;

    src:
        url(../fonts/PT-Sans-Bold.woff2) format("woff2"),
        url(../fonts/PT-Sans-Bold.woff) format("woff"),
        url(../fonts/PT-Sans-Bold.ttf) format("ttf");
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 900px;

  margin: 0;
  padding: 0;

  color: #000000;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;

  font-size: 14px;
  line-height: 21px;

  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

.button {
  display: block;

  padding: 0;
  margin: 0;

  color: #000000;

  font: inherit;

  border: none;

  background: none;

  text-align: center;
  vertical-align: middle;
}

.contaiter {
  position: relative;

  width: 1200px; /* 768 */

  padding: 0;
  margin: 0;

  margin: 0 auto;

  box-shadow: 0 2px 6px 0 #e1e1e1;
}

.main-header-site-navigation {
  width: 100%;
  min-height: 54px;

  padding: 0;
  margin: 0;
}

.site-navigation-list {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-width: 54px;

  padding: 0;
  margin: 0;

  padding-left: 6%;
  padding-right: 6%;

  color: #000000;

  list-style: none;

  background-color: #ffffff;
}

.site-navigation-item {
  width: 20%;
  min-height: 54px;

  padding: 0;
  margin: 0;

  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;
  vertical-align: middle;
}

.site-navigation-item.site-logo {
  position: relative;

  width: 8%;

  padding: 0;
  margin: 0;
}

.button-navigation {
  width: 100%;

  font-weight: 700;

  font-size: 14px;
  line-height: 26px;

  text-align: left;
  vertical-align: middle;
}

.site-navigation-item:nth-child(4) .button-navigation,
.site-navigation-item:nth-child(5) .button-navigation {
  text-align: right;
}

.button-navigation:hover,
.button-navigation:focus {
  color: #81b3d2;
}

.button-navigation:active {
  color: #b2b2b2;
}

.button-navigation.active {
  color: #766357;
}

.button-site-logo {
  position: absolute;

  top: 0;
  left: 50%;

  transform: translate(-50%);

  display: flex;

  justify-content: center;
  align-items: flex-start;

  width: 140px;
}

.main-header-intro {
  width: 100%;
  min-height: 512px;

  padding: 0;
  margin: 0;

  background-color: #a0c6de;

  background-image: url(../img/Background-white.png),
                    url(../img/Background.jpg);

  background-repeat: no-repeat,
                     no-repeat;

  background-position: 0 bottom,
                       center 30%;
  background-size: contain,
                   cover;
}

.intro-image-text {
  width: 460px;

  padding: 0;
  margin: 0;

  padding-top: 75px;
  margin: 0 auto;
}


/* MAIN section*/

.page-content {
  width: 100%;
  min-height: 2195px;

  padding: 0;
  margin: 0;

  padding-top: 58px;
}

.page-content-title {
  width: 445px;
  min-height: 52px;

  padding: 0;
  margin: 0;

  margin: 0 auto;
  margin-bottom: 31px;

  font-weight: 700;

  font-size: 21px;
  line-height: 26px;

  text-align: center;
  vertical-align: middle;
}

.page-content-advantages {
  position: relative;

  z-index: 2;

  width: 100%;
  min-height: 1175px;

  padding: 0;
  margin: 0;
}

.advantages-title {
  width: 500px;
  min-height: 26px;

  padding: 0;
  margin: 0;

  margin: 0 auto;
  margin-bottom: 52px;

  font-weight: 400;

  font-size: 14px;
  line-height: 26px;

  text-align: center;
  vertical-align: middle;
}

.advantages-list {
  width: 100%;

  padding: 0;
  margin: 0;

  list-style: none;
}

.advantages-list-item {
  width: 100%;

  padding: 0;
  margin: 0;
}

.advantages-item-1,
.advantages-item-2 {
  display: flex;

  justify-content: space-between;

  width: 100%;

  padding: 0;
  margin: 0;
}

.advantages-item-text {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 33%;
  min-height: 256px;

  padding: 0;
  margin: 0;

  padding: 40px 40px;

  color: #ffffff;

  background-color: #81b3d2;
}

.advantages-item-2 .advantages-item-text {
  order: 2;
}

.advantages-item-title {
  width: 155px;
  min-height: 42px;

  padding: 0;
  margin: 0;

  margin: 0 auto;

  margin-bottom: 25px;

  font-weight: 700;

  font-size: 21px;
  line-height: 21px;

  text-align: center;
  vertical-align: middle;
}

.advantages-item-counter {
  position: relative;

  display: block;

  width: 60px;
  min-height: 21px;

  padding: 0;
  margin: 0;

  padding-left: 17px;
  padding-right: 17px;

  margin: 0 auto;

  margin-bottom: 20px;

  text-align: center;
  vertical-align: middle;
}

.advantages-item-counter::before,
.advantages-item-counter::after {
  content: "";

  position: absolute;

  top: 10px;

  width: 14px;
  height: 1px;

  background-color: #ffffff;
}

.advantages-item-counter::before {
  left: 0;
}

.advantages-item-counter::after {
  right: 0;
}

.advantages-details {
  min-width: 181px;
  min-height: 42px;

  padding: 0;
  margin: 0;

  margin: 0 auto;

  text-align: center;
  vertical-align: middle;
}

.advantages-item-image {
  width: 67%;
  height: auto;

  padding: 0;
  margin: 0;

  border: none;
}

.advantages-item-image-1 {
  background-color: #b7aca9;

  background-image: url(../img/True-city.jpg);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: cover;
}

.advantages-item-image-2 {
  order: 1;

  background-color: #604237;

  background-image: url(../img/Devil-Bridge.jpg);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: cover;
}

.true-city-list {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 330px;

  padding: 0;
  margin: 0;

  padding: 60px 25px;

  list-style: none;
}

.true-city-item {
  width: 33%;
  min-height: 190px;

  padding: 0;
  margin: 0;
}

.true-city-item-reference {
  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  width: 100%;

  padding: 0;
  margin: 0;

  padding-top: 105px;
  padding-left: 25px;
  padding-right: 25px;

  color: #000000;

  font: inherit;
}

.true-city-item-reference-1 {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

.true-city-item-reference-2 {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

.true-city-item-reference-3 {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

.true-city-item-title {
  min-width: 160px;
  min-height: 21px;

  padding: 0;
  margin: 0;

  margin-bottom: 25px;

  font-weight: 700;

  font-size: 21px;
  line-height: 21px;

  text-align: center;
  vertical-align: middle;
}

.true-city-item-details {
  min-width: 160px;
  min-height: 21px;

  padding: 0;
  margin: 0;

  font-weight: 400;

  font-size: 14px;
  line-height: 21px;

  text-align: center;
  vertical-align: middle;
}

.advantages-list-item-345 {
  display: flex;

  justify-content: space-between;

  min-height: 256px;

  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;

  background-color: #eeeeee;
}

.advantages-item-3,
.advantages-item-4,
.advantages-item-5 {
  width: 33%;
  min-height: 160px;

  padding: 0;
  margin: 0;

  padding-left: 25px;
  padding-right: 25px;
}

.advantages-list-item-345 .advantages-item-text {
  justify-content: flex-start;

  width: 100%;
  min-height: 160px;

  padding: 0;
  margin: 0;

  color: #000000;

  background-color: transparent;
}

.advantages-list-item-345 .advantages-item-counter::before,
.advantages-list-item-345 .advantages-item-counter::after {
  background-color: #000000;
}



/* SEARCH section */

.page-content-search-hotel {
  position: relative;

  z-index: 2;

  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  width: 100%;
  min-height: 293px;

  padding: 0;
  margin: 0;

  padding-top: 55px;
}

.search-hotel-title {
  width: 440px;

  padding: 0;
  margin: 0;

  margin-bottom: 30px;

  font-weight: 700;

  font-size: 24px;
  line-height: 30px;

  text-align: center;
  vertical-align: middle;
}

.search-hotel-description {
  width: 440px;

  padding: 0;
  margin: 0;

  margin-bottom: 50px;

  font-size: 14px;
  line-height: 24px;

  text-align: center;
  vertical-align: middle;
}

.button-search-hotel-wrapper {
  position: relative;

  width: 570px;

  padding: 0;
  margin: 0;
}

.button-search-hotel {
  position: relative;

  z-index: 3;

  width: 100%;

  padding-top: 30px;
  padding-bottom: 30px;

  color: #ffffff;

  font-weight: 700;

  font-size: 21px;
  line-height: 26px;

  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #766357;
}

.button-close {
  display: none;

  position: absolute;

  top: 0;
  left: 0;

  z-index: 4;
}

.button-search-hotel:hover,
.button-search-hotel:focus {
  background-color: #604e43;
}

.button-search-hotel:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}




/* MODAL SEARCH section*/

@keyframes crawl {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(397px);
  }
}

@keyframes crawl-back {
  0% {
    transform: translateY(397px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-search-hotel {
  position: absolute;

  z-index: 1;

  top: -400px;
  left: 50%;

  width: 570px;
  min-height: 295px;

  padding: 0;
  margin: 0;

  margin-left: -285px;

  padding: 55px 55px;

  background-color: #ffffff;

  box-shadow: 0 2px 6px 0 #e1e1e1;
}

.modal-show {
  animation: crawl 2s;
  animation-fill-mode: forwards;
}

.modal-close {
  animation: crawl-back 2s;
  animation-fill-mode: forwards;
}

.modal-show-button {
  display: block;
}

.modal-search-hotel-form {
  width: 460px;

  padding: 0;
  margin: 0;

  border: none;
  background: transparent;
}

.search-hotel-form-item {
  position: relative;

  display: flex;

  justify-content: space-between;
  align-content: center;

  width: 100%;

  padding: 0;
  margin: 0;

  margin-bottom: 30px;
}

.form-item-label,
.form-item-input {
  padding: 0;
  margin: 0;

  padding: 6px 0;

  color: #000000;

  font-weight: 700;

  font-size: 14px;
  line-height: 26px;

  text-transform: uppercase;
  text-align: left;
  vertical-align: middle;
}

.form-item-label {
  width: 25%;
}

.form-item-input {
  width: 75%;

  padding-left: 15px;

  border: none;
  background: none;

  background-color: #f2f2f2;
}

.form-item-input:hover {
  background-color: #ebebeb;
}

.form-item-input:focus {
  background-color: #ffffff;

  outline: 2px solid #e5e5e5;
}

.input-icon {
  position: absolute;

  right: 10px;
  top: 8px;

  fill: #a9a9a9;
}

.input-icon:hover,
.input-icon:focus {
  fill: #000000;
}

.input-icon:active {
  fill: #81b3d2;
}

.form-item-quantity {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 0;
  margin: 0;

  margin-bottom: 25px;
}

.search-hotel-form-item-quantity-1 {
  width: 50%;
}

.search-hotel-form-item-quantity-1 .form-item-label,
.search-hotel-form-item-quantity-1 .form-item-input-quantity {
  width: 50%;
}

.search-hotel-form-item-quantity-2 {
  width: 39%;
}

.search-hotel-form-item-quantity-2 .form-item-label {
  width: 37.2%;
}

.search-hotel-form-item-quantity-2 .form-item-input-quantity {
  width: 62.8%;
}

.form-item-input-quantity {
  padding: 0;
  margin: 0;

  text-align: center;
}

.svg-minus,
.svg-plus {
  position: absolute;

  top: 13px;

  cursor: pointer;
}

.svg-minus:hover,
.svg-plus:hover,
.svg-minus:focus,
.svg-plus:focus {
  stroke: #000000;
}

.svg-minus:active,
.svg-plus:active {
  stroke: #81b3d2;
}

.search-hotel-form-item-quantity-1 .svg-minus {
  right: 39%;
}

.search-hotel-form-item-quantity-2 .svg-minus {
  right: 49%;
}

.search-hotel-form-item-quantity-1 .svg-plus {
  right: 5.75%;
}

.search-hotel-form-item-quantity-2 .svg-plus {
  right: 7.2%;
}

.button-modal-search-hotel {
  width: 100%;

  padding: 16px 0;

  color: #ffffff;

  font-weight: 700;

  font-size: 21px;
  line-height: 26px;

  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #81b3d2;
}

.button-modal-search-hotel:hover,
.button-modal-search-hotel:focus {
  background-color: #669ec0;
}

.button-modal-search-hotel:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}



/* MAP section */

.page-content-map {
  position: relative;

  width: 100%;
  min-height: 593px;

  padding: 0;
  margin: 0;

  overflow: hidden;
}

.map-contaiter {
  position: absolute;

  top: 0;
  left: calc(30% - 400px);

  display: flex;

  justify-content: center;
  align-items: flex-start;

  width: 1200px;

  padding: 0;
  margin: 0;

  margin: 0 auto;
}


/* FOOTER section */

.main-footer {
  position: absolute;

  left: 0;
  bottom: 0;

  display: flex;

  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-height: 120px;

  padding: 0;
  margin: 0;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer-visit {
  width: 33%;
  min-height: 50px;

  padding: 0;
  margin: 0;

  padding: 12px 30px;

  font-weight: 700;

  font-size: 21px;
  line-height: 26px;

  text-align: center;
  vertical-align: middle;
}

.main-footer-social-list {
  display: flex;

  flex-wrap: wrap;

  justify-content: center;
  align-content: center;

  width: 33%;
  min-height: 50px;

  padding: 0;
  margin: 0;

  padding: 0 30px;

  margin-right: -10px;

  text-align: center;
  vertical-align: middle;

  list-style: none;
}

.social-item {
  width: 46px;
  height: 50px;

  padding: 0;
  margin: 0;

  margin-right: 10px;

  text-align: center;
  vertical-align: middle;

  background-color: #81b3d2;
}

.social-item:hover,
.social-item:focus {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
}

.button-social {
  width: 100%;
  height: 100%;

  text-align: center;
  vertical-align: middle;
}

.button-social:active {
  opacity: 0.3;
}

.button-twitter {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-facebook {
  background-image: url(../img/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-youtube {
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-footer-developers {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 33%;
  min-height: 50px;

  padding: 0;
  margin: 0;

  padding: 0 30px;

  text-align: center;
  vertical-align: middle;
}

.main-footer-developers .website-by{
  display: block;

  width: 85px;

  padding: 0;
  margin: 0;

  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  line-height: 26px;

  text-align: left;
  vertical-align: middle;
}

.button-developers {
  width: 118px;

  text-align: center;
  vertical-align: middle;
}

.logo-htmlacademy path {
  fill: #000000;
}

.logo-htmlacademy:hover path,
.logo-htmlacademy:focus path {
  fill: #81b3d2;
}

.logo-htmlacademy:active path {
  fill: #bdbbbc;
}


/* INNER page*/

.page-content-inner {
  min-height: 490px;

  padding: 0;
  margin: 0;

  padding-bottom: 122px;
}

.page-content-filters {
  width: 100%;
  min-height: 217px;

  padding: 0;
  margin: 0;

  padding: 17px 6%;

  background-color: #51718f;

  background-image: url(../img/Background-blur.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.filters-form {
  display: flex;

  justify-content: space-between;
  align-content: center;

  width: 100%;

  padding: 0;
  margin: 0;

  color: #ffffff;
}

.fieldset-wrapper {
  display: flex;

  justify-content: space-between;
  align-items: flex-start;

  width: 56%;

  padding: 0;
  margin: 0;
}

.filters-form-item {
  width: 50%;

  padding: 0;
  margin: 0;

  border: none;
  background: transparent;
}

.filters-form-item legend {
  display: block;

  width: 100%;

  padding: 0;
  margin: 0;

  margin-bottom: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  text-transform: uppercase;
  text-align: left;
  vertical-align: middle;
}

.filters-form-item label {
  position: relative;

  display: block;

  width: 100%;

  padding: 0;
  margin: 0;

  padding-left: 45px;
  padding-top: 17px;
  padding-bottom: 13px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  text-transform: uppercase;
  text-align: left;
  vertical-align: middle;
}

.filters-form-item input:not(:disabled) + label {
  cursor: pointer;
}

.filters-form-item-infrastructure label::before,
.filters-form-item-sort-of-housing label::before {
  content: "";

  position: absolute;

  top: 14px;
  left: 0;

  width: 24px;
  height: 24px;

  padding: 0;
  margin: 0;

  border: 2px solid #ffffff;

  border-radius: 3px;
}

.filters-form-item-infrastructure label::after,
.filters-form-item-sort-of-housing label::after {
  content: "";

  display: none;

  position: absolute;

  top: 12px;
  left: 0;

  width: 12px;
  height: 22px;

  padding: 0;
  margin: 0;

  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;

  transform-origin: right bottom;
  transform: rotate(45deg);
}

.filters-form-item input[type="checkbox"]:checked + label::after {
  display: block;
}

.filters-form-item input[type="checkbox"]:disabled + label::before,
.filters-form-item input[type="checkbox"]:disabled + label::before {
  border-color: #6a6a6a;
}

.filters-form-item input[type="checkbox"]:checked:disabled + label::after {
  border-color: #6a6a6a;
}

.price-and-button-wrapper {
  width: 32%;
}

.filters-form-item-price {
  width: 100%;
}

.price-label-wrapper {
  position: relative;

  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 33px;

  padding: 0;
  margin: 0;

  margin-bottom: 11px;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.price-label-wrapper::after {
  content: "";

  position: absolute;

  top: 5px;
  left: 50%;

  width: 3px;
  height: 22px;

  padding: 0;
  margin: 0;

  margin-left: -1.5px;

  background-color: #ffffff;
}

.price-label-wrapper label {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 50%;

  padding: 0;
  margin: 0;

  text-align: center;
  vertical-align: middle;
}

.input-price {
  width: 40px;

  padding: 0;
  margin: 0;

  padding: 9px 0;
  padding-left: 6px;

  color: inherit;

  font-size: 14px;
  line-height: 21px;

  text-align: left;

  border: none;
  background: none;
}

.price-range {
  position: relative;

  width: 100%;
  min-height: 25px;

  padding: 0;
  margin: 0;

  margin-bottom: 21px;
}

.price-line {
  position: absolute;

  top: 10px;
  left: 0;

  width: 100%;
  height: 3px;

  background-color: rgba(255, 255, 255, 0.3);
}

.price-line-variable {
  position: absolute;

  top: 0;
  left: 0;

  width: 80%;
  height: 3px;

  background-color: rgba(255, 255, 255, 1);
}

.price-circles {
  display: flex;

  justify-content: flex-start;
  align-items: center;

  width: 100%;

  padding: 0;
  margin: 0;
}

.price-circles .circle {
  position: absolute;

  top: 0;

  width: 21px;
  height: 21px;

  padding: 0;
  margin: 0;

  font-size: 0;
  line-height: 0;

  background-color: #ffffff;

  border-radius: 50%;

  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.3);

  cursor: pointer;
}

.price-circles .circle:hover {
  transform-origin: center;

  transform: scale(1.1);
}

.circle-left {
  left: 0%;
}

.circle-right {
  left: 80%;
}

.circle::before {
  content: "";

  position: absolute;

  top: 8px;
  left: 8px;

  width: 5px;
  height: 5px;

  padding: 0;
  margin: 0;

  background-color: #958b89;

  border-radius: 50%;
}

.button-filters {
  width: 60%;

  padding: 8px 0;

  margin: 0 auto;

  color: inherit;

  font-size: 14px;
  line-height: 21px;

  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: transparent;

  border: 2px solid #ffffff;

  border-radius: 3px;

  cursor: pointer;
}


.button-filters:hover,
.button-filters:focus {
  color: #000000;

  background-color: #ffffff;
}

.page-content-found {
  width: 100%;
  min-height: 84px;

  padding: 0;
  margin: 0;

  padding: 0 6%;
}

.found-wrapper-title-and-sortings {
  position: relative;

  display: flex;

  justify-content: flex-start;
  align-items: center;

  width: 100%;
  min-height: 88px;

  padding: 0;
  margin: 0;

  border-bottom: 2px solid #e5e5e5;
}

.found-title {
  width: 165px;

  padding: 0;
  margin: 0;

  font-weight: 700;

  font-size: 21px;
  line-height: 26px;

  text-align: left;
  vertical-align: middle;
}

.found-sortings {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 355px;

  padding: 0;
  margin: 0;

  font-weight: 400;

  font-size: 12px;
  line-height: 18px;

  text-align: left;
  vertical-align: middle;
}

.sortings-title {
  width: 114px;

  padding: 0;
  margin: 0;

  color: #000000;

  font-weight: 400;

  font-size: 12px;
  line-height: 18px;

  text-align: left;
  vertical-align: middle;
}

.sortings-list {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 240px;

  padding: 0;
  margin: 0;

  color: #cacaca;

  list-style: none;
}

.sortings-item {
  display: flex;

  justify-content: flex-start;
  align-items: center;

  width: 33%;

  padding: 0;
  margin: 0;
}

.sortings-reference {
  color: #cacaca;

  text-align: left;
  vertical-align: middle;

  border-bottom: 1px dotted #cacaca;
}

.sortings-reference:hover,
.sortings-reference:focus {
  color: #81b3d2;

  border-bottom: 1px dotted #81b3d2;
}

.sortings-reference:active {
  color: #000000;

  border: none;
}

.sortings-reference.active {
  color: #81b3d2;

  border: none;
}

.sortings-item-arrows {
  position: absolute;

  right: 0;
  top: 50%;
}

.sortings-arrows {
  position: absolute;

  width: 12px;
  height: 22px;

  font: 0;
  line-height: 0;

  text-align: right;
  vertical-align: middle;
}

.sortings-arrow-up {
  bottom: -5px;
  right: 24px;

  border-top: 11px solid #ffffff;
  border-right: 6px solid #ffffff;
  border-bottom: 11px solid #cacaca;
  border-left: 6px solid #ffffff;
}

.sortings-arrow-up:hover,
.sortings-arrow-up:focus {
  border-bottom: 11px solid #000000;
}

.sortings-arrow-up:active,
.sortings-arrow-up.active {
  border-bottom: 11px solid #81b3d2;
}

.sortings-arrow-down {
  top: -5px;
  right: 0;

  border-top: 11px solid #cacaca;
  border-right: 6px solid #ffffff;
  border-bottom: 11px solid #ffffff;
  border-left: 6px solid #ffffff;
}

.sortings-arrow-down:hover,
.sortings-arrow-down:focus {
  border-top: 11px solid #000000;
}

.sortings-arrow-down:active,
.sortings-arrow-down.active {
  border-top: 11px solid #81b3d2;
}

.found-hotels {
  width: 100%;

  padding: 0;
  margin: 0;
}

.found-hotels-list {
  width: 100%;

  padding: 0;
  margin: 0;

  list-style: none;
}

.found-hotels-item {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 152px;

  padding: 0;
  margin: 0;

  padding: 27px 0;

  border-bottom: 2px solid #e5e5e5;
}

.found-hotels-item-column-left {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 426px;

  padding: 0;
  margin: 0;
}

.image-contaiter {
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
}

.found-hotels-description {
  display: flex;

  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  width: 61%;

  padding: 0;
  margin: 0;
}

.reference-hotels-title {
  width: 100%;

  padding: 0;
  margin: 0;

  text-align: left;
  vertical-align: middle;
}

.reference-hotels-title:hover,
.reference-hotels-title:focus {
  color: #81b3d2;
}

.reference-hotels-title:active {
  color: #b2b2b2;
}

.found-hotels-title {
  width: 100%;

  padding: 0;
  margin: 0;

  margin-bottom: 7px;

  font-weight: 700;

  font-size: 21px;
  line-height: 26px;

  text-transform: uppercase;

  text-align: left;
  vertical-align: middle;
}

.found-hotels-details,
.found-hotels-button-contaiter {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 0;
  margin: 0;

  font-weight: 400;

  font-size: 14px;
  line-height: 21px;

  text-transform: uppercase;

  text-align: left;
  vertical-align: middle;
}

.found-hotels-details {
  margin-bottom: 10px;
}

.found-hotels-type,
.button-details {
  width: 43%;
}

.found-hotels-price,
.button-reserve {
  width: 55%;
}

.button-details,
.button-reserve {
  padding: 3px 0;

  color: #ffffff;

  font-weight: 700;

  font-size: 14px;
  line-height: 21px;

  text-transform: uppercase;

  text-align: center;
  vertical-align: middle;
}

.button-details {
  background-color: #81b3d2;
}

.button-details:hover,
.button-details:focus {
  background-color: #669ec0;
}

.button-details:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.button-reserve {
  background-color: #766357;
}

.button-reserve:hover,
.button-reserve:focus {
  background-color: #604e43;
}

.button-reserve:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.found-hotels-rating {
  display: flex;

  flex-direction: column;

  justify-content: space-between;
  align-items: flex-end;

  width: 160px;
  min-height: 91px;

  padding: 0;
  margin: 0;
}

.found-hotels-stars-wrapper {
  display: flex;

  justify-content: flex-end;
  align-items: center;

  width: 100%;

  padding: 0;
  margin: 0;
}

.found-hotels-stars {
  display: block;

  width: 18px;
  height: 20px;

  padding: 0;
  margin: 0;

  margin-left: 5px;

  font: 0;
  line-height: 0;

  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.found-hotels-rating-number {
  width: 68%;

  padding: 0;
  margin: 0;

  padding: 3px 0;

  color: #666666;

  font-weight: 400;

  font-size: 14px;
  line-height: 21px;

  text-align: center;
  vertical-align: middle;

  background-color: #f2f2f2;
}
