* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  position: relative;

  min-height: 100vh;

  background: #04207e;

  overflow: hidden;
}

div {
  position: absolute;

  font-family: sans-serif;

  border-radius: 50%;

  text-align: center;

  color: white;

  white-space: nowrap;

  background-color: red;
}

.ball {
  display: flex;

  align-items: center;
  justify-content: center;

  width: fit-content;

  padding: 2rem;
}

.ball--green {
  background-color: green;
}

.ball--orange {
  background-color: orange;
}
